<div class="container">

  <div class="container__header">
    <img src="../../../assets/MyGallery/profilePhoto.png" alt="profile picture" routerLink="/home">
    <h1>Rodney Cotton</h1>
    <p class="city">Helsinki, Finland</p>
    <div class="container__header__counters">
      <div>
        <p>100</p>
        <p>Posts</p>
      </div>
      <div>
        <p>2,242</p>
        <p>Follower</p>
      </div>
      <div>
        <p>1,432</p>
        <p>Following</p>
      </div>
    </div>

  </div>

    <img src="../../../assets/MyGallery/photo1.png" class="one" alt="bed">
    <img src="../../../assets/MyGallery/photo2.png" class="two" alt="bed">
    <img src="../../../assets/MyGallery/photo3.png" class="three" alt="bed">
    <img src="../../../assets/MyGallery/photo4.png" class="four" alt="bed">
    <img src="../../../assets/MyGallery/photo5.png" class="five" alt="bed">
    <img src="../../../assets/MyGallery/photo6.png" class="six" alt="bed">

  <div class="container__footer">
    <p>Lalait Jérémy @ DevChallenges.io</p>
  </div>
</div>
